var format = function (text) {
    //wxs
   if(!text){
       return
   }
    var reg=getRegExp('\\\\n','g')
    
    return text.replace(reg,'\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
}

var limit=function(array,length){
    return array.slice(0,length)
}

// const是JS ES6语法
// wxs拥有自己的运行环境 小程序文档中罗列出来了 wxs借鉴了js
module.exports={
    format:format,
    limit:limit
}